################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/SFML
Fontes/.vscode/c_cpp_properties.json
Fontes/.vscode/launch.json
Fontes/.vscode/settings.json
